<template>
  <div class="recipe-detail app-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" label-width="auto" label-position="top" class="form-container">
      <el-form-item class="form-item" prop="name">
        <MDinput v-model="postForm.name" :maxlength="100" name="name" required>Name</MDinput>
      </el-form-item>

      <!-- cover -->
      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.picture" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Name:">
            <el-input v-model="postForm.name" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-button type="primary" @click="submitForm">
        Submit
      </el-button>
    </el-form>

  </div>
</template>

<script>
import { getModelDetail, addModel, setModel } from '@/api/model'
import MDinput from '@/components/MDinput'
import Upload from '@/components/Upload/SingleImage'
import TimeInput from '@/components/timeInput'

const defaultForm = {
  picture: '',
  name: '',
}

export default {
  name: 'RecipeDetail',
  components: {
    MDinput,
    Upload,
    TimeInput
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + " " + "is required",
          type: 'error'
        })
        callback(new Error(rule.field + " " + "is required"))
      } else {
        callback()
      }
    }
    return {
      time: 7200000,
      postForm: Object.assign({}, defaultForm),
      rules: {
        name: [{ validator: validateRequire }]
      },
      id: '',
      loading: true
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.id = Number(id)
      this.initData(id)
    }
  },
  methods: {
    async initData(id) {
      const response = await getModelDetail(id)
      this.postForm = this.parseResponse(response)
    },
    parseResponse(response) {
      const tempObj = {}
      for (const key in this.postForm) {
        tempObj[key] = response[key]
      }
      return tempObj
    },
    async submitForm() {
      let stop = false
      try {
        Object.keys(this.postForm).forEach(item => {
          if(!this.postForm[item]) {
            this.$message({
              message: item+ " " + "is required",
              type: 'error'
            })
            stop = true
            throw new Error('error')
          }
        })
      } catch(e) {
        if(e.message == 'error') throw e
      }
      if (stop) return
      if (this.isEdit) {
        await setModel(this.id, this.postForm)
      } else {
        await addModel(this.postForm)
      } 
      this.$notify({
        title: '成功',
        message: '发布成功',
        type: 'success',
        duration: 2000
      })
      this.$router.back()
    },
    jumpTo(prefix) {
      this.$router.push({ path: prefix + this.id })
    }
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 40px;
}

</style>
