<template>
  <div class="time-input-warp">
    <div><input v-model="hours" class="time-input el-input__inner" type="number" @input="handleInput">H</div>
    <div><input v-model="minute" class="time-input el-input__inner" type="number" @input="handleInput">M</div>
    <div><input v-model="second" class="time-input el-input__inner" type="number" @input="handleInput">S</div>
  </div>
</template>

<script>
export default {
  name: 'TimeInput',
  props: {
    value: {
      type: [Number, String],
      default: 0
    },
    validateEvent: {
      type: Boolean,
      default: true
    }
  },

  data() {
    return {
      hours: '',
      minute: '',
      second: ''
    }
  },

  watch: {
    value: {
      handler(time) {
        if (time === '' || time === 0) return
        time = Number(time)
        this.hours = parseInt((time / 1000 / 60 / 60) % 24)
        this.minute = parseInt((time / 1000 / 60) % 60)
        this.second = parseInt((time / 1000) % 60)
      },
      immediate: true
    }
  },

  methods: {
    handleInput() {
      const reversTimeValue = this.reversTime()
      this.$emit('input', reversTimeValue)
      if (this.$parent.$options.componentName === 'ElFormItem') {
        if (this.validateEvent) {
          this.$parent.$emit('el.form.change', [reversTimeValue])
        }
      }
    },

    reversTime() {
      const reversHours = (this.hours * 60 * 60 * 1000)
      const reversMinute = this.minute * 60 * 1000
      const reversSecond = this.second * 1000

      return reversHours + reversMinute + reversSecond
    }
  }

}
</script>

<style lang="scss" scoped>
// Fonts:
  $font-size-base: 16px;
  $font-size-small: 18px;
  $font-size-smallest: 12px;
  $font-weight-normal: normal;
  $font-weight-bold: bold;
  $apixel: 1px;
  // Utils
  $spacer: 12px;
  $transition: 0.2s ease all;
  $index: 0px;
  $index-has-icon: 30px;
  // Theme:
  $color-white: white;
  $color-grey: #9E9E9E;
  $color-grey-light: #E0E0E0;
  $color-blue: #2196F3;
  $color-red: #F44336;
  $color-black: black;

.time-input-warp{
  display: flex;

  &>div{
    padding-right: 5px;
  }

  .time-input {
    width: 50px;
    padding: 0 10px;
    margin-right: 5px;
    text-align: center;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
</style>
