<template>
  <el-dialog
    :title="title" 
    :visible.sync="localDialogVisible"
  >
    <el-form>
      <el-form-item label="Label Name" v-if="dialogType === 'Add Label' || dialogType === 'Insert Label'">
        <el-input v-model="labelName"></el-input>
      </el-form-item>
      <el-form-item label="Recipe Id(using comma to choose multiple recipes, such as '1,2,4')">
        <el-input v-model="recipeIds"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="localDialogVisible = false">Cancel</el-button>
      <el-button type="primary" @click="confirm">Confirm</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { addLabel, addLabelRecipe, setLabelRecipe } from '@/api/recipe'

export default {
  name: 'labelDialog',

  props: {
    dialogVisible: {
      type: Boolean,
      default: false,
    },
    dialogType: {
      type: String,
      default: 'Add Label'
    },
    labelId: {
      type: Number,
      default: 0
    },
    index: {
      type: Number,
      default: 0
    },
    title: {
      type: String,
      default: 'Create a New Label'
    }
  },

  data() {
    return {
      labelName: '',
      recipeIds: '',
      dict: {
        'Add Label': {
          func: addLabel,
          message: 'added label successfully'
        },
        'Add Recipe': {
          func: addLabelRecipe,
          message: 'added recipe successfully'
        },
        'Insert Recipe': {
          func: addLabelRecipe,
          message: 'inserted recipe successfully'
        },
        'Reset Recipe': {
          func: setLabelRecipe,
          message: 'reset recipe successfully'
        },
        'Insert Label': {
          func: addLabel,
          message: 'insert label successfully'
        },
      }
    }
  },

  computed: {
    localDialogVisible: {
      get(){
        return this.dialogVisible
      },
      set(val) {
        this.$emit('update:dialogVisible', val)
      }
    }
  },

  methods: {
    async confirm() {
      this.localDialogVisible = false;
      let recipe_ids = this.recipeIds.split(',').map(id => {
        if (!isNaN(parseInt(id))) {
          return parseInt(id)
        }
      }).filter(item => !!item);
      var params = { 
        recipe_ids, 
        index: this.index, 
        name: this.labelName, 
        label_id: this.labelId 
      };
      let item = this.dict[this.dialogType];
      await item.func(params);
      this.$message({
        message: item.message,
        type: 'success'
      });
      this.$emit('refresh');

      // 清空
      this.labelName = '';
      this.recipeIds = '';
    }
  }
}
</script>