<template>
  <div>
    <el-collapse v-model="activeNames">
      <el-collapse-item name="1">
        <template slot="title">
          <span style="width: 750px" @click.stop="" @keyup.stop="">
            <span v-if="!editMode"  @click.stop="editMode = true">
              {{name}}
              <i class="el-icon-edit" style="margin-left: 8px"></i>
            </span>
            <el-input v-model="name" size="medium" style="width: auto" v-else @change="closeEditMode" @blur="closeEditMode" ></el-input>
          </span>
          <span style="width: 100%; height: 100%"></span>
          <el-button type="primary" size="small" @click.stop="showDialog('Reset Recipe')">
            Reset Recipe
          </el-button>
          <el-button type="primary" size="small" @click.stop="showDialog('Add Recipe')">
            Add Recipe
          </el-button>
          <el-button type="primary" size="small" @click.stop="showDialog('Insert Label', labelInfo.index)">
            Insert Label
          </el-button>
          <el-button type="danger" size="small" style="margin-right:5px;" @click.stop="removeLabel">
            Delete Label
          </el-button>
        </template>
        <div class="header row">
          <div class="id-column">ID</div>
          <div class="cover-column">Cover</div>
          <div class="name-column">Name</div>
          <div class="actions-column">Actions</div>
        </div>
        <transition-group name="list" tag="ul">
          <li class="content row" v-for="recipe in labelInfo.recipes" :key="recipe.recipe_id">
            <div class="id-column">
              <div>{{recipe.recipe_id}}</div>
            </div>
            <div class="cover-column">
              <el-image :src="recipe.photo" />
            </div>
            <div class="name-column">
              <router-link :to="'/recipe/edit/'+recipe.recipe_id" class="link-type">
                <span>{{ recipe.recipe_name }}</span>
              </router-link>
            </div>
            <div class="actions-column">
              <el-button type="primary" size="small" :disabled="recipe.index === 0" @click="sortRecipe(recipe.index, -1)">
                Up
              </el-button>
              <el-button type="primary" size="small" :disabled="recipe.index === labelInfo.recipes.length - 1" @click="sortRecipe(recipe.index, 1)">
                Down
              </el-button>
              <el-button type="primary" size="small" @click="showDialog('Insert Recipe', recipe.index)">
                Insert
              </el-button>
              <router-link :to="'/recipe/edit/' + recipe.recipe_id">
                <el-button type="primary" size="small" class="delete-button">
                  Edit
                </el-button>
              </router-link>
              <el-button class="delete-button" type="danger" size="small" @click="deleteRecipe(recipe.recipe_id)">
                Delete
              </el-button>
            </div>
          </li>
        </transition-group>
      </el-collapse-item>
    </el-collapse>
    <label-dialog
      :dialogType="dialogType"
      :dialogVisible.sync="dialogVisible"
      :labelId="labelInfo.id"
      @refresh="refreshData"
      :index="index"
      :title="title"
    ></label-dialog>
  </div>
</template>

<script>
import { delLabelRecipe, delLabel, setLabel, sortRecipe } from '@/api/recipe'
import labelDialog from './LabelDialog'

export default {
  name: 'LabelItem',

  data() {
    return {
      activeNames: '1',
      dialogVisible: false,
      dialogType: '',
      index: 0,
      title: '',
      name: this.labelInfo.name,
      editMode: false,
      timeout: null
    }
  },

  components: { labelDialog },
  
  props: {
    labelInfo: {
      type: Object,
      default() {
        return {
          name: 'default'
        }
      }
    }
  },

  methods: {
    showDialog(dialogType, index = 0) {
      this.dialogType = this.title = dialogType;
      this.dialogVisible = true;
      this.index = index;
    },

    async closeEditMode() {
      this.editMode = false;
      if (this.timeout) {
        clearTimeout(this.timeout);
      }
      this.timeout = setTimeout(async() => {
        await setLabel(this.labelInfo.id, this.name);
        this.$message({
          message: 'rename successfully',
          type: 'success'
        })
      }, 500)
    },

    async deleteRecipe(recipe_id) {
      await delLabelRecipe(this.labelInfo.id, [recipe_id]);
      this.$message({
        message: 'deleted successfully',
        type: 'success'
      })
      this.$emit('refresh');
    },

    async removeLabel() {
      await delLabel(this.labelInfo.id);
      this.$message({
        message: 'deleted successfully',
        type: 'success'
      })
      this.$emit('refresh');
    },

    async sortRecipe(index, flag) {
      await sortRecipe(this.labelInfo.id, index, flag);
      this.$message({
        message: 'sorted recipes successfully',
        type: 'success'
      })
      this.$emit('refresh');
    },

    refreshData() {
      this.$emit('refresh');
    }
  },

  watch: {
    'labelInfo.name': {
      handler(val) {
        this.name = val;
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-button {
  margin-left: 10px;
}
.list-enter-active,.list-leave-active {
  transition: all 1s;
}
.list-move {
  transition: all 1s;
}
.list-enter,.list-leave-to {
  opacity:0;
  transform: translateX(300px);
}
.list-leave-active {
  position:absolute;
}


.row {
  display: flex;
}
.header {
  color: #909399;
  font-weight: bold;
  font-size: 14px;
  line-height: 50px;
  border: 1px solid #EBEEF5;
}
.content {
  border: 1px solid #EBEEF5;
  border-top: none;
  color: #606266;
  font-size: 14px;
}
.id-column {
  width: 120px;
  text-align: center;
  border-right:  1px solid #EBEEF5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover-column {
  width: 140px;
  text-align: center;
  border-right:  1px solid #EBEEF5;
}
.content .cover-column {
  padding: 10px;
}
.name-column {
  min-width: 280px;
  flex: 1;
  padding-left: 10px;
  border-right:  1px solid #EBEEF5;
  display: flex;
  align-items: center;
}
.actions-column {
  width: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
ul, li {
  margin: 0;
  padding: 0;
}



</style>