
<template>
  <div class="recipe-detail app-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" label-width="auto" label-position="top" class="form-container">
      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Actual_Shipping:">
            <el-input v-model="postForm.actual_shipping" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Actual_Total:">
            <el-input v-model="postForm.actual_total" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Tax:">
            <el-input v-model="postForm.tax" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Estimated_Shipping:">
            <el-input v-model="postForm.estimated_shipping" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Estimated_Total:">
            <el-input v-model="postForm.estimated_total" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Order_Id:">
            <el-input v-model="postForm.order_id" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Status:">
            <el-input v-model="postForm.status" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Subtotal:">
            <el-input v-model="postForm.subtotal" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item">
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item class="form-item" prop="Description" label="Address:">
        <el-input
          v-model="postForm.address"
          type="textarea"
          resize="none"
          :autosize="{ minRows: 5, maxRows: 10 }"
          placeholder="Please enter the content"
        />
      </el-form-item>

      <el-form-item class="form-item" prop="Description" label="Payment:">
        <el-input
          v-model="postForm.payment"
          type="textarea"
          resize="none"
          :autosize="{ minRows: 5, maxRows: 10 }"
          placeholder="Please enter the content"
        />
      </el-form-item>

      <el-button type="primary" @click="submitForm">
        Submit
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { getOrderDetail } from '@/api/order'
import MDinput from '@/components/MDinput'
import Upload from '@/components/Upload/SingleImage'
import TimeInput from '@/components/timeInput'

const defaultForm = {
  actual_shipping: '',
  actual_total: '',
  address: '',
  estimated_shipping: '',
  estimated_total: '',
  order_id: '',
  payment: '',
  status: '',
  subtotal: '',
  tax: '',
}

export default {
  name: 'OrderDetail',
  components: {
    MDinput,
    Upload,
    TimeInput
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + '为必传项',
          type: 'error'
        })
        callback(new Error(rule.field + '为必传项'))
      } else {
        callback()
      }
    }
    return {
      time: 7200000,
      postForm: Object.assign({}, defaultForm),
      rules: {
        name: [{ validator: validateRequire }]
      },
      id: '',
      loading: true
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.id = Number(id)
      this.initData(this.id)
    }
  },
  methods: {
    async initData(id) {
      const response = await getOrderDetail(id)
      this.postForm = this.parseResponse(response)
    },
    parseResponse(respone) {
      const tempObj = {}
      for (const key in this.postForm) {
        if (respone[key]) {
          tempObj[key] = respone[key]
        } 
        if(key === 'address') {
          tempObj[key] = JSON.stringify(respone[key])
        }
        if(key === 'payment') {
          tempObj[key] = JSON.stringify(respone[key])
        }
      }
      return tempObj
    },
    async submitForm() {
    }
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 40px;
}

</style>
