<template>
  <div class="upload-container">
    <el-upload
      v-loading.fullscreen.lock="fullscreenLoading"
      :multiple="false"
      :show-file-list="false"
      :before-upload="beforeImageUpload"
      :http-request="imageUpload"
      accept="image/png,image/jpg,image/jpeg"
      action="Fake Action"
      class="image-uploader"
      drag
    >
      <upload-status
        :src="tempUrl"
        :percentage="percentage"
        @delete="deleteImage"
      />
    </el-upload>
  </div>
</template>

<script>
import { uploadSingleFile, deleteSingleFile } from '@/api/upload'
import UploadStatus from './UploadStatus'
export default {
  name: 'SingleImageUpload',
  components: {
    UploadStatus
  },
  props: {
    value: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      tempUrl: '',
      percentage: 0,
      fullscreenLoading: false
    }
  },
  watch: {
    value(newValue) {
      this.tempUrl = newValue
    }
  },
  methods: {
    async deleteImage() {
      deleteSingleFile('RECIPE_IMAGE', this.tempUrl)
      window.URL.revokeObjectURL(this.tempUrl)
      this.tempUrl = ''
      this.percentage = 0
      this.emitInput('')
    },
    beforeImageUpload(file) {
      this.tempUrl = window.URL.createObjectURL(file)
    },
    async imageUpload({ file }) {
      const remoteImageUrl = await uploadSingleFile(
        'RECIPE_IMAGE',
        file,
        (progress) => {
          const decimals = (progress.loaded / progress.total) * 100
          this.percentage = Number(decimals.toFixed('2'))
        }
      )
      this.emitInput(remoteImageUrl)
    },
    emitInput(val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style lang="scss" scoped>
@import "~@/styles/mixin.scss";
.upload-container {
  width: 100%;
  position: relative;
  @include clearfix;
  .image-uploader {
    width: 100%;
    float: left;
  }
}
</style>
