<template>
  <div v-if="src.length && src.length>1" class="image-preview">
    <div class="image-preview-wrapper">
      <img :src="src">
      <div v-if="hasRemoteUrl" class="image-preview-action" @click.stop="deleteHandle">
        <i class="el-icon-delete" />
      </div>
      <div v-else class="progress-wrap">
        <el-progress class="progress" :color="progressColor" type="circle" :percentage="percentage" />
      </div>
    </div>
  </div>
  <div v-else>
    <i class="el-icon-upload" />
    <div class="el-upload__text">
      将文件拖到此处，或<em>点击上传</em>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UploadStatus',
  props: {
    src: {
      type: String,
      default: ''
    },
    percentage: {
      type: [String, Number],
      default: 0
    }
  },
  computed: {
    progressColor() {
      if (this.percentage === 100) {
        return '#67c23a'
      } else {
        return '#20a0ff'
      }
    },
    uploadSuccess() {
      return this.percentage === 100
    },
    hasRemoteUrl() {
      return this.src.search(/^http/) !== -1
    }
  },

  methods: {
    deleteHandle() {
      this.$emit('delete')
    }
  }
}
</script>

<style lang="scss" scoped>
.image-preview {
  width: 100%;
  height: 100%;
  position: relative;
  border: 1px dashed #d9d9d9;
  float: left;
  .image-preview-wrapper {
      position: relative;
      width: 100%;
      height: 100%;

      img {
          width: 100%;
          height: 100%;
      }

      .progress-wrap{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, .2);

        .progress{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%);

        }

      }

  }
  .image-preview-action {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: default;
      text-align: center;
      color: #fff;
      opacity: 0;
      font-size: 20px;
      background-color: rgba(0, 0, 0, .5);
      transition: opacity .3s;
      cursor: pointer;
      text-align: center;
      line-height: 200px;
      .el-icon-delete {
          font-size: 36px;
      }
  }
  &:hover {
      .image-preview-action {
          opacity: 1;
      }
  }
}

.progress{
  &::v-deep .el-progress__text{
    color: #fff;
  }

  &.is-success{
    &::v-deep .el-progress__text {
      color: #67C23A;
    }
  }
}

</style>
