
<template>
  <recipe-detail />
</template>

<script>
import RecipeDetail from './components/RecipeDetail'

export default {
  name: 'RecipeCreate',
  components: {
    RecipeDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
