
<template>
  <recipe-detail :is-edit="true" />
</template>

<script>
import RecipeDetail from './components/RecipeDetail'

export default {
  name: 'RecipeEdit',
  components: {
    RecipeDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
