<template>
  <div class="app-container">
    <router-link :to="'/recipe/create/'">
      <el-button type="primary" size="small" style="margin-bottom:20px">
        Create
      </el-button>
    </router-link> 
    <!-- create新的recipe -->
    <el-table v-loading="listLoading" :data="recipeList" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" label="Cook Time">
        <template slot-scope="scope">
          <span>{{ scope.row.cookTime }}</span>
        </template>
      </el-table-column>

      <el-table-column width="140px" align="center" label="Cover">
        <template slot-scope="scope">
          <el-image :src="scope.row.cover" />
        </template>
      </el-table-column>

      <el-table-column min-width="280px" label="Name">
        <template slot-scope="{row}">
          <router-link :to="'/recipe/edit/'+row.id" class="link-type">
            <span>{{ row.name }}</span>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="250" class-name="fixed-width">
        <template slot-scope="{row,$index}">
          <router-link :to="'/recipe/edit/'+row.id">
            <el-button type="primary" size="small">
              Edit
            </el-button>
          </router-link>
          <el-button class="delete-button" type="danger" size="small" @click="removeRecipe(row.id,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script>
import { getRecipeList, delRecipe } from '@/api/recipe'

export default {
  name: 'RecipeList',
  data() {
    return {
      recipeList: null,
      total: 0,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const recipeResponse = await getRecipeList()
      this.recipeList = this.parseResponse(recipeResponse)
    },
    parseResponse(recipeResponse) {
      return recipeResponse.map((recipe) => {
        return {
          id: recipe.recipe_id,
          name: recipe.recipe_name,
          cookTime: recipe.cook_time,
          cover: recipe.photo
        }
      })
    },
    async removeRecipe(id, index) {
      await delRecipe(id)
      this.recipeList.splice(index, 1)
      this.$notify({
        title: '成功',
        message: '删除成功',
        type: 'success',
        duration: 2000
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-button {
  margin-left: 10px;
}
</style>
