<template>
  <div class="app-container">
    <!-- <RecipeProgram :id="id" class="item" /> -->
    <RecipeStep :id="id" class="item" />
    <RecipeServing :id="id" class="item" />
  </div>
</template>

<script>
// import RecipeProgram from './components/RecipeProgram'
import RecipeStep from './components/RecipeStep'
import RecipeServing from './components/RecipeServing'
export default {
  name: 'RecipeRelation',
  components: {
    // RecipeProgram,
    RecipeStep,
    RecipeServing
  },
  data() {
    return {
      id: ''
    }
  },
  created() {
    const id = this.id = this.$route.params && this.$route.params.id
    this.initData(id)
  },
  methods: {
    initData() {

    }
  }
}
</script>

<style>
.item{
  margin-bottom: 20px;
}
</style>
