<template>
  <div class="app-container">
    <router-link :to="'/product/create'">
      <el-button type="primary" size="small" style="margin-bottom:20px">
        Create
      </el-button>
    </router-link> 
    <el-table v-loading="listLoading" :data="productList" border fit highlight-current-row style="width: 100%">
      <el-table-column width="120px" align="center" label="product_id">
        <template slot-scope="scope">
          <span>{{ scope.row.product_id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="is_onsale" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.is_onsale }}</span>
        </template>
      </el-table-column>

      <el-table-column width="200px" align="center" label="photo">
        <template slot-scope="scope">
          <el-image :src="scope.row.photo" />
        </template>
      </el-table-column>

      <el-table-column min-width="100px" label="price">
        <template slot-scope="scope">
            <span>{{ scope.row.price }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="100px" label="price_onsale">
        <template slot-scope="scope">
            <span>{{ scope.row.price_onsale }}</span>
        </template>
      </el-table-column>

      <el-table-column width="300px" align="center" label="name">
        <template slot-scope="scope">
          <router-link :to="'/product/edit/'+scope.row.product_id">
          <span>{{ scope.row.name }}</span>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="230" class-name="fixed-width">
        <template slot-scope="{row,$index}">
          <router-link :to="'/product/edit/'+row.product_id">
            <el-button type="primary" size="small">
              Edit
            </el-button>
          </router-link>
          <el-button class="delete-button" type="danger" size="small" @click="removeRecipe(row.product_id,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script>
import { getProductList,getProductDetail } from '@/api/shop'
export default {
  name: 'ProductList',
  data() {
    return {
      productList: null,
      total: 0,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const recipeResponse = await getProductList('all')
      this.productList = recipeResponse
    },
    removeRecipe() {
      console.log('删除')
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-button {
  margin-left: 10px;
}
</style>
