<template>
  <div class="app-container">
    <el-button type="primary" size="small" style="margin-bottom:20px" @click="createLabel">
      Create a New Label
    </el-button>
    <label-item 
      v-for="(label,index) in labelList" 
      :key="index"
      :labelInfo="label"
      @refresh="refreshData"
    ></label-item>
    <label-dialog 
      :dialogVisible.sync="dialogVisible"
      @refresh="refreshData"
    ></label-dialog>
  </div>
</template>

<script>
import { getExploreRecipe } from '@/api/recipe'
import labelItem from './components/LabelItem'
import labelDialog from './components/LabelDialog'

export default {
  name: 'LabelList',

  data() {
    return {
      labelList: null,
      dialogVisible: false,
    }
  },

  components: { labelItem, labelDialog },

  created() {
    this.initData();
  },

  methods: {
    async initData() {
      const recipeResponse = await getExploreRecipe(); // [to understand] 为啥这里的返回的是一个promise对象呢
      this.labelList = recipeResponse.filter(r => r.index > -1)
    },

    async refreshData() {
      console.log(123);
      await this.initData();
    },

    createLabel() {
      // alert('create');
      this.dialogVisible = true;
    }
  }
}
</script>