<template>
  <div class="recipe-detail app-container">
    <el-form
      ref="postForm"
      :model="postForm"
      :rules="rules"
      label-width="auto"
      label-position="top"
      class="form-container"
    >
      <el-form-item class="form-item" prop="name">
        <MDinput v-model="postForm.deviceName" :maxlength="100" name="name" required
          >Name</MDinput
        >
      </el-form-item>

      <el-row type="flex">
        <el-col :span="6">
          <el-form-item class="form-item" label="Device Name:">
            <el-input
              v-model="postForm.deviceName"
              :rows="1"
              placeholder="Please enter the content"
            />
          </el-form-item>
        </el-col>

        <el-col :span="6" style="margin-left:20%">
          <el-form-item class="form-item" label="Device Id:">
            <el-input
              v-model="postForm.deviceId"
              :rows="1"
              placeholder="Please enter the content"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex">
        <el-col :span="6">
          <el-form-item class="form-item" label="Firmware:">
            <el-input
              v-model="postForm.firmware"
              :rows="1"
              placeholder="Please enter the content"
            />
          </el-form-item>
        </el-col>
        
        <el-col :span="6" style="margin-left:20%">
          <el-form-item class="form-item" label="Model:">
            <el-input
              v-model="postForm.model"
              :rows="1"
              placeholder="Please enter the content"
            />
          </el-form-item>
        </el-col>
      </el-row>

      <el-button type="primary" @click="submit"> Submit </el-button>
    </el-form>
  </div>
</template>

<script>
import { getGrillDetail, addGrill } from "@/api/device";
import MDinput from "@/components/MDinput";
import Upload from "@/components/Upload/SingleImage";
import TimeInput from "@/components/timeInput";

const defaultForm = {
  deviceName: "",
  deviceId: "",
  firmware: "",
  model: "",
};

export default {
  name: "DeviceDetail",
  components: {
    MDinput,
    Upload,
    TimeInput,
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === "") {
        this.$message({
          message: rule.field + " " + "is required",
          type: "error",
        });
        callback(new Error(rule.field + " " + "is required"));
      } else {
        callback();
      }
    };
    return {
      time: 7200000,
      postForm: Object.assign({}, defaultForm),
      rules: {
        name: [{ validator: validateRequire }],
      },
      id: "",
      loading: true,
    };
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id;
      this.id = Number(id);
      this.initData(id);
    }
  },
  methods: {
    async initData(id) {
      const response = await getGrillDetail(id);
      this.postForm = this.parseResponse(response);
    },
    parseResponse(response) {
      const tempObj = {};
      for (const key in this.postForm) {
        tempObj[key] = response[key];
      }
      return tempObj;
    },
    async submit() {
      let stop = false;
      try {
        Object.keys(this.postForm).forEach((item) => {
          if (!this.postForm[item]) {
            this.$message({
              message: item + " " + "is required",
              type: "error",
            });
            stop = true;
            throw new Error("error");
          }
        });
      } catch (e) {
        if (e.message == "error") throw e;
      }
      if (stop) return;
      if (this.isEdit) {
        await setRecipe(this.id, this.postForm);
      } else {
        let data = {
          device_id: this.postForm.deviceId,
          firmware: this.postForm.firmware,
          model_name: this.postForm.model,
        }
        await addGrill(data);
      }
      this.$notify({
        title: "成功",
        message: "发布成功",
        type: "success",
        duration: 2000,
      })
      this.$router.back();
    },
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 40px;
}
</style>
