
<template>
  <div class="recipe-detail app-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" label-width="auto" label-position="top" class="form-container">
      <el-form-item class="form-item" prop="name">
        <MDinput v-model="postForm.product_name" :maxlength="100" name="name" required>Product_Name</MDinput>
      </el-form-item>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo1" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo2" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo3" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Author Name:">
            <el-input v-model="postForm.name" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Category:">
            <el-input v-model="postForm.category" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Features:">
            <el-input v-model="postForm.features" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Price:">
            <el-input v-model="postForm.price" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Price_Onsale:">
            <el-input v-model="postForm.price_onsale" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Tax_Rate:">
            <el-input v-model="postForm.tax_rate" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item class="form-item" label="Is_Onsale:">
            <el-input v-model="postForm.is_onsale" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Specifications:">
            <el-input v-model="postForm.specifications" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-form-item class="form-item" prop="Description" label="Description:">
        <el-input
          v-model="postForm.description"
          type="textarea"
          resize="none"
          :autosize="{ minRows: 10, maxRows: 10 }"
          placeholder="Please enter the content"
        />
      </el-form-item>
      <el-button type="primary" @click="submitForm">
        Submit
      </el-button>
    </el-form>
  </div>
</template>

<script>
import { getProductDetail } from '@/api/shop'
import MDinput from '@/components/MDinput'
import Upload from '@/components/Upload/SingleImage'
import TimeInput from '@/components/timeInput'

const defaultForm = {
  name: '',
  category: '',
  description: '',
  features: '',
  is_onsale: '',
  name: '',
  photo1: '',
  photo2: '',
  photo3: '',
  price: '',
  price_onsale: '',
  product_id: '',
  specifications: '',
  tax_rate: ''
}

export default {
  name: 'ProductDetail',
  components: {
    MDinput,
    Upload,
    TimeInput
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + '为必传项',
          type: 'error'
        })
        callback(new Error(rule.field + '为必传项'))
      } else {
        callback()
      }
    }
    return {
      time: 7200000,
      postForm: Object.assign({}, defaultForm),
      rules: {
        name: [{ validator: validateRequire }]
      },
      id: '',
      loading: true
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.id = Number(id)
      this.initData(id)
    }
  },
  methods: {
    async initData(id) {
      const response = await getProductDetail(id)
      this.postForm = this.parseResponse(response)
    },
    parseResponse(respone) {
      const tempObj = {}
      for (const key in this.postForm) {
        if (respone[key]) {
          tempObj[key] = respone[key]
        }
        if (respone[key] === false) {
          tempObj[key] = 'false'
        } else if(respone[key] === true) {
          tempObj[key] = 'true'
        }
        if (key === 'name') {
          tempObj[key] = respone.name
        }
      }
      return tempObj
    },
    async submitForm() {
      // if (this.isEdit) {
      //   await setRecipe(this.id, this.postForm)
      // } else {
      //   await addRecipe(this.postForm)
      // }
      // this.$notify({
      //   title: '成功',
      //   message: '发布成功',
      //   type: 'success',
      //   duration: 2000
      // })
      // this.$router.back()
    },
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 40px;
}

</style>
