<template>
  <div class="program">
    <div class="title">Serving</div>
    <div class="tools">
      <el-button
        class="add-button"
        icon="el-icon-edit"
        type="primary"
        @click="handleCreate"
      >
        Add
      </el-button>
    </div>
    <el-table
      ref="dragTable"
      v-loading="listLoading"
      :data="servingList"
      border
      fit
      highlight-current-row
    >
      <el-table-column
        v-for="defaultColumn of defaultColumns"
        :key="defaultColumn.label"
        :label="defaultColumn.label"
        :width="defaultColumn.width"
        :align="defaultColumn.align ? defaultColumn.align : 'center'"
      >
        <template slot-scope="scope">
          <el-image v-if="defaultColumn.label == 'Photo'" :src="scope.row[defaultColumn.rowKey]" style="width: 100px; height: 100px" />
          <span v-else>{{ scope.row[defaultColumn.rowKey] }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="310">
        <template slot-scope="{ row, $index }">
          <el-button
            class="delete-button"
            type="primary"
            size="small"
            @click="handleUpdate(row, $index)"
          >
            Edit
          </el-button>
          <el-button
            class="delete-button"
            type="danger"
            size="small"
            @click="delServing(row, $index)"
          >
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- dialog -->
    <el-dialog :visible.sync="dialogFormVisible" :title="dialogStatus">
      <el-form
        ref="dataForm"
        :rules="rules"
        :model="postForm"
        label-position="left"
        label-width="200px"
      >
        <el-form-item label="Index" prop="index">
          <el-input v-model="postForm.index" />
        </el-form-item>
        <el-form-item label="Serving Id" prop="serving_id">
          <el-input v-model="postForm.serving_id" />
        </el-form-item>
        <el-form-item label="Size Name" prop="size_name">
          <el-input v-model="postForm.size_name" />
        </el-form-item>
        <el-form-item label="Ingredients" prop="ingredients">
          <el-button style="float: right;margin-left:10px" @click="addingredients" type="primary">Add</el-button>
        </el-form-item>

        <table width="100%" cellspacing="0" cellpadding="0" class="table_style" id="rows">
          <tr style="height: 40px">
            <th style="border-right: 1px solid #dcdfe6">Amount</th>
            <th style="border-right: 1px solid #dcdfe6">Content</th>
            <th></th>
          </tr>
          <template v-if="dialogStatus == 'Update'">
            <tr v-for="item in newPostForm" :key="item.index">
              <td class="td_top_style">
                <input type="text" class="border_style" v-model="item.amount"/>
              </td>
              <td class="td_top_style">
                <input type="text" class="border_style" v-model="item.content"/>
              </td>
              <td class="td_bot_style" style="text-align:center">
                <el-button @click="removeingredients(item.index)" style="height:35px;line-height:10px">Remove</el-button>
              </td>
            </tr>
          </template>
          <tr v-for="item in rows" :key="item.index" v-else>
            <td class="td_top_style">
              <input type="text" class="border_style" v-model="item.amount"/>
            </td>
            <td class="td_top_style">
              <input type="text" class="border_style" v-model="item.content"/>
            </td>
            <td class="td_bot_style" style="text-align:center">
                <el-button @click="removeingredients(item.index)" style="height:35px;line-height:10px">Remove</el-button>
              </td>
          </tr>
        </table>

      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetPostForm"> Cancel </el-button>
        <el-button
          type="primary"
          @click="dialogStatus === 'Create' ? addServing() : updateServing()"
        >
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>
 
<script>
import {
  getRecipeServing,
  setServing,
  addServing,
  delServing,
} from "@/api/recipe";
import TimeInput from "@/components/timeInput";
import Sortable from "sortablejs";
import Upload from "@/components/Upload/SingleImage";

const defaultColumns = {
  serving_id: {
    label: "Serving Id",
    width: "210",
    rowKey: "serving_id",
  },
  index: {
    label: "Index",
    width: "210",
    rowKey: "index",
  },
  size_name: {
    label: "Size Name",
    width: "320",
    rowKey: "size_name",
  },
  ingredients: {
    label: "Ingredients",
    width: "320",
    rowKey: "ingredients",
  },
};


const defaultPostForm = {
  serving_id: "",
  index: "",
  size_name: "",
  ingredients: "",
};

export default {
  name: "RecipeServing",
  components: {
    TimeInput,
    Upload,
  },
  props: {
    id: {
      type: [String, Number],
      default: "",
    },
  },
  data() {
    return {
      defaultColumns,
      postForm: Object.assign({}, defaultPostForm),
      rules: {},
      dialogStatus: "",
      dialogFormVisible: false,
      servingList: null,
      oldList: [],
      newList: [],
      listLoading: false,
      columnIndex: "",
      rows: [
        {
          amount: '',
          content: '',
          index: 0
        },
      ],
      newPostForm: [],
      newAmount: '',
      newContent: ''
    }
  },
  computed: {},
  created() {
    if (this.id) {
      this.initData(this.id);
    }
  },
  methods: {
    async initData(id) {
      this.servingList = await getRecipeServing(id);
      this.servingList.map(item => {
        if(item.ingredients) {
          let num = 0
          item.ingredients.map(item=> {
            item.index = num++
          })
        }
      })
    },
    handleCreate() {
      this.dialogStatus = "Create";
      this.dialogFormVisible = true;
      this.postForm = Object.assign({}, defaultPostForm);
    },
    async addServing() {
      let newarr = this.rows
      newarr.map(item => {
        delete item.index
      })
      let params = {
        index: this.postForm.index,
        size_name: this.postForm.size_name,
        ingredients: JSON.stringify(newarr),
      };
      const addStepId = await addServing(this.id, params);
      this.dialogFormVisible = false;
      this.postForm.serving_id = addStepId.serving_id;
      this.postForm.ingredients = this.rows
      this.servingList.push(Object.assign({}, this.postForm));
      this.$notify({
        title: "成功",
        message: "新增成功",
        type: "success",
        duration: 2000,
      });
      let num = 0
      this.postForm.ingredients.map(item => {
        item.index = num++
      })
      this.rows = [
        {
          amount: '',
          content: '',
          index: 0
        }
      ]
      this.postForm.index = ''
      this.postForm.serving_id = ''
      this.postForm.size_name = ''
    },
    handleUpdate(row, index) {
      this.postForm = Object.assign({}, row);
      this.dialogStatus = "Update";
      this.dialogFormVisible = true;
      this.columnIndex = index;
      this.strMap = JSON.stringify(this.postForm)
      this.newPostForm = JSON.parse(this.strMap).ingredients
    },
    async updateServing() {
      this.postForm.ingredients = this.newPostForm
      this.postForm.ingredients.map(item => {
        delete item.index
      }) 
      let params = {
        index: this.postForm.index,
        name: this.postForm.size_name,
        ingredients: JSON.stringify(this.postForm.ingredients),
      };
      const res = await setServing(this.id, params);
      let num = 0
      this.postForm.ingredients.map(item => {
        item.index = num++
      })
      if (res) this.dialogFormVisible = false;
      this.servingList.splice(this.columnIndex, 1, this.postForm);
      this.resetPostForm();
    },
    async delServing({ serving_id }, index) {
      const res = await delServing(serving_id);
      if (res) {
        this.servingList.splice(index, 1);
      }
      this.$notify({
        title: '成功',
        message: '删除成功',
        type: 'success',
        duration: 2000
      })
    },
    resetPostForm() {
      this.dialogFormVisible = false;
      this.postForm = Object.assign({}, defaultPostForm);
      this.newPostForm = []
      this.rows = [{
        amount: '',
        content: '',
        index: ''
      }]
    },
    addingredients() {
      if(this.dialogStatus == "Create") {
        if(this.rows[this.rows.length-1]&&
          this.rows[this.rows.length-1].index) {
            this.rows.push(
              {
                amount: '',
                content: '',
                index: this.rows[this.rows.length-1].index+1
              }
            )
          }else {
            let num =0 
            this.rows.push(
              {
                amount: '',
                content: '',
                index: num+1
              }
            )
        }
      }else if(this.dialogStatus == "Update"){
        if(this.newPostForm[this.newPostForm.length-1]&&
        this.newPostForm[this.newPostForm.length-1].index) {
          this.newPostForm.push(
            {
              amount: '',
              content: '',
              index: this.newPostForm[this.newPostForm.length-1].index+1 
            }
          )
        }else {
          let num =0 
          this.newPostForm.push(
            {
              amount: '',
              content: '',
              index: num+1
            }
          )
        }
      }
    },
    removeingredients(index) {
      if(this.dialogStatus == "Create") {
        const arr1 = this.rows.filter(item => {
          return item.index != index
        })
        this.rows = arr1
      }else if(this.dialogStatus == "Update"){
        const arr2 = this.newPostForm.filter(item => {
          return item.index != index
        })
        this.newPostForm = arr2
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.title {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: 800;
  margin-top: 40px;
}
.tools {
  margin-bottom: 20px;
}
.border_style {
  border: none;
  height: 45px;
  text-indent: 10px;
}
.border_style:focus {
  outline: none;
}
.border_style[data-v-624e027c] {
  width: 100%;
}
.table_style {
  border: 1px solid #dcdfe6;
}
.td_top_style {
  border-top: 1px solid #dcdfe6;
  border-right: 1px solid #dcdfe6;
}
.td_bot_style {
  border-top: 1px solid #dcdfe6;
}
</style>
