<template>
  <div class="program">
    <div class="title">Program</div>
    <div class="tools">
      <el-button class="add-button" icon="el-icon-edit" type="primary" @click="handleCreate">
        Add
      </el-button>
    </div>
    <el-table ref="dragTable" v-loading="listLoading" :data="programList" border fit highlight-current-row>
      <el-table-column
        v-for="defaultColumn of defaultColumns"
        :key="defaultColumn.label"
        :label="defaultColumn.label"
        :width="defaultColumn.width"
        :align="defaultColumn.align ? defaultColumn.align : 'center'"
      >
        <template slot-scope="scope">
          <span>{{ scope.row[defaultColumn.rowKey] }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="{row,$index}">
          <el-button class="delete-button" type="primary" size="small" @click="handleUpdate(row)">
            Edit
          </el-button>
          <el-button class="delete-button" type="danger" size="small" @click="delProgram(row,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- dialog -->
    <el-dialog :visible.sync="dialogFormVisible" :title="dialogStatus">
      <el-form ref="dataForm" :rules="rules" :model="postForm" label-position="left" label-width="200px">
        <el-form-item label="Target Temperature" prop="target_temperature">
          <el-input v-model="postForm.target_temperature" />
        </el-form-item>
        <el-form-item label="Index" prop="index">
          <el-input v-model="postForm.index" />
        </el-form-item>
        <el-form-item label="ProbeA" prop="probeA">
          <el-input v-model="postForm.probeA" />
        </el-form-item>
        <el-form-item label="ProbeB" prop="probeB">
          <el-input v-model="postForm.probeB" />
        </el-form-item>
        <el-form-item label="Timer1 Name" prop="timer1_name">
          <el-input v-model="postForm.timer1_name" />
        </el-form-item>
        <el-form-item label="Timer1" prop="timer1">
          <time-input v-model="postForm.timer1" />
        </el-form-item>
        <el-form-item label="Timer2 Name" prop="timer2_name">
          <el-input v-model="postForm.timer2_name" />
        </el-form-item>
        <el-form-item label="Timer2" prop="timer2">
          <time-input v-model="postForm.timer2" />
        </el-form-item>

        <el-form-item label="Type" prop="type">
          <el-input v-model="postForm.type" />
        </el-form-item>
        <el-form-item label="description" prop="description">
          <el-input v-model="postForm.description" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetPostForm">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='Create'?addProgram():updateProgram()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getRecipeProgram, addProgram, updateProgram, delProgram } from '@/api/recipe'
import TimeInput from '@/components/timeInput'
import Sortable from 'sortablejs'

const defaultColumns = {
  program_id: {
    label: 'Program Id',
    width: '120',
    rowKey: 'program_id'
  },
  index: {
    label: 'Index',
    width: '120',
    rowKey: 'index'
  },
  target_temperature: {
    label: 'Target Temperature',
    width: '200',
    rowKey: 'target_temperature'
  },
  probeA: {
    label: 'probeA',
    width: '120',
    rowKey: 'probeA'
  },
  probeB: {
    label: 'ProbeB',
    width: '120',
    rowKey: 'probeB'
  },
  timer1: {
    label: 'Timer1',
    width: '120',
    rowKey: 'timer1'
  },
  timer2: {
    label: 'Timer2',
    width: '120',
    rowKey: 'timer2'
  },
  timer1_name: {
    label: 'Timer1 Name',
    width: '120',
    rowKey: 'timer1_name'
  },
  timer2_name: {
    label: 'Timer2 Name',
    width: '120',
    rowKey: 'timer2_name'
  },
  type: {
    label: 'Type',
    width: '80',
    rowKey: 'type'
  },
  description: {
    label: 'Description',
    rowKey: 'description',
    align: 'left'
  }
}

const defaultPostForm = {
  program_id: '',
  index: '',
  target_temperature: '',
  probeA: '',
  probeB: '',
  timer1: 0,
  timer2: 0,
  timer1_name: '',
  timer2_name: '',
  type: '',
  description: ''
}

export default {
  name: 'RecipeProgram',
  components: {
    TimeInput
  },
  props: {
    id: {
      type: [String, Number],
      default: ''
    }
  },
  data() {
    return {
      defaultColumns,
      postForm: Object.assign({}, defaultPostForm),
      rules: {},
      dialogStatus: '',
      dialogFormVisible: false,
      programList: null,
      oldList: [],
      newList: [],
      listLoading: false
    }
  },
  computed: {

  },
  created() {
    if (this.id) {
      this.initData(this.id)
    }
  },
  methods: {
    async initData(id) {
      this.programList = await getRecipeProgram(id)
      this.$nextTick(() => {
        this.setSort()
      })
    },

    setSort() {
      const tabelEl = this.$refs.dragTable.$el.querySelectorAll('.el-table__body-wrapper > table > tbody')[0]
      this.sortable = Sortable.create(tabelEl, {
        ghostClass: 'sortable-ghost', // Class name for the drop placeholder,
        setData: function(dataTransfer) {
          // to avoid Firefox bug
          // Detail see : https://github.com/RubaXa/Sortable/issues/1012
          dataTransfer.setData('Text', '')
        },
        onEnd: evt => {
          const targetRow = this.programList.splice(evt.oldIndex, 1)[0]
          this.programList.splice(evt.newIndex, 0, targetRow)
          // for show the changes, you can delete in you code
          // const tempIndex = this.newList.splice(evt.oldIndex, 1)[0]
          // this.newList.splice(evt.newIndex, 0, tempIndex)
        }
      })
    },

    handleCreate() {
      this.dialogStatus = 'Create'
      this.dialogFormVisible = true
    },

    async addProgram() {
      const addProgramId = await addProgram(this.id, this.postForm)
      this.dialogFormVisible = false
      this.postForm.program_id = addProgramId
      console.log(Object.assign({}, this.postForm))
      this.programList.push(Object.assign({}, this.postForm))
      this.resetPostForm()
    },

    handleUpdate(row) {
      this.postForm = Object.assign({}, row)
      this.dialogStatus = 'Update'
      this.dialogFormVisible = true
    },

    async updateProgram() {
      await updateProgram(this.id, this.postForm)
    },

    async delProgram({ program_id }, index) {
      await delProgram(program_id)
      this.programList.splice(index, 1)
    },

    resetPostForm() {
      this.dialogFormVisible = false
      this.postForm = Object.assign({}, defaultPostForm)
    }
  }
}
</script>

<style lang="scss" scoped>
.title{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight:  800;
}
.tools {
  margin-bottom: 20px;
}
</style>
