<template>
  <div class="program">
    <div class="title">Step</div>
    <div class="tools">
      <el-button class="add-button" icon="el-icon-edit" type="primary" @click="handleCreate">
        Add
      </el-button>
    </div>
    <el-table ref="dragTable" v-loading="listLoading" :data="stepList" border fit highlight-current-row>
      <el-table-column
        v-for="defaultColumn of defaultColumns"
        :key="defaultColumn.label"
        :label="defaultColumn.label"
        :width="defaultColumn.width"
        :align="defaultColumn.align ? defaultColumn.align : 'center'"
      >
        <template slot-scope="scope">
          <el-image v-if="defaultColumn.label == 'Photo'" :src="scope.row[defaultColumn.rowKey]" style="width: 100px; height: 100px" />
          <span v-else>{{ scope.row[defaultColumn.rowKey] }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" label="Actions" width="200">
        <template slot-scope="{row,$index}">
          <el-button class="delete-button" type="primary" size="small" @click="handleUpdate(row,$index)">
            Edit
          </el-button>
          <el-button class="delete-button" type="danger" size="small" @click="delStep(row,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>
    </el-table>
    <!-- dialog -->
    <el-dialog :visible.sync="dialogFormVisible" :title="dialogStatus">
      <el-form ref="dataForm" :rules="rules" :model="postForm" label-position="left" label-width="200px">
        <el-form-item label="Title" prop="title">
          <el-input v-model="postForm.title" />
        </el-form-item>
        <el-form-item label="Index" prop="index">
          <el-input v-model="postForm.index" />
        </el-form-item>
        <el-form-item label="Type" prop="type">
          <el-input v-model="postForm.type" />
        </el-form-item>
        <el-form-item label="Ingredients" prop="ingredients">
          <el-input v-model="postForm.ingredients" />
        </el-form-item>
        <el-form-item label="Photo" prop="photo">
          <Upload v-model="postForm.photo" style="width: 200px; height: 0px" />
        </el-form-item>
        <el-form-item label="Primary Desc" prop="primary_desc">
          <el-input v-model="postForm.primary_desc" />
        </el-form-item>
        <el-form-item label="Secondary Desc" prop="secondary_desc">
          <el-input v-model="postForm.secondary_desc" />
        </el-form-item>
        <el-form-item label="Target Temp" prop="target_temp">
          <el-input v-model="postForm.target_temp" />
        </el-form-item>
        <el-form-item label="Timer1 Duration" prop="timer1_duration">
          <time-input v-model="postForm.timer1_duration" />
        </el-form-item>
        <el-form-item label="Probe A Temp" prop="probe_a_temp">
          <time-input v-model="postForm.probe_a_temp" />
        </el-form-item>
        <el-form-item label="Is Manual Proceed" prop="is_manual_proceed">
          <el-input v-model="postForm.is_manual_proceed" />
        </el-form-item>
        <el-form-item label="Buffer Time" prop="buffer_time">
          <el-input v-model="postForm.buffer_time" />
        </el-form-item>
        <el-form-item label="Video" prop="video">
          <el-input v-model="postForm.video" />
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="resetPostForm">
          Cancel
        </el-button>
        <el-button type="primary" @click="dialogStatus==='Create'?addStep():updateStep()">
          Confirm
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { getRecipeStep, setStep, delStep, addStep } from '@/api/recipe'
import TimeInput from '@/components/timeInput'
import Upload from '@/components/Upload/SingleImage'

const defaultColumns = {
  step_id: {
    label: 'Step Id',
    width: '80',
    rowKey: 'step_id'
  },
  index: {
    label: 'Index',
    width: '80',
    rowKey: 'index'
  },
  type: {
    label: 'Type',
    width: '80',
    rowKey: 'type'
  },
  title: {
    label: 'Title',
    width: '120',
    rowKey: 'title'
  },
  ingredients: {
    label: 'Ingredients',
    width: '120',
    rowKey: 'ingredients'
  },
  photo: {
    label: 'Photo',
    width: '120',
    rowKey: 'photo'
  },
  primary_desc: {
    label: 'Primary Desc',
    width: '120',
    rowKey: 'primary_desc'
  },
  secondary_desc: {
    label: 'Secondary Desc',
    width: '120',
    rowKey: 'secondary_desc'
  },
  target_temp: {
    label: 'Target Temp',
    width: '120',
    rowKey: 'target_temp'
  },
  timer1_duration: {
    label: 'Timer1 Duration',
    width: '120',
    rowKey: 'timer1_duration'
  },
  probe_a_temp: {
    label: 'Probe A Temp',
    width: '120',
    rowKey: 'probe_a_temp'
  },
  is_manual_proceed: {
    label: 'Is Manual Proceed',
    width: '80',
    rowKey: 'is_manual_proceed'
  },
  buffer_time: {
    label: 'Buffer Time',
    width: '80',
    rowKey: 'buffer_time'
  },
  video: {
    label: 'Video',
    rowKey: 'video',
    width: '250'
  }
}

const defaultPostForm = {
  step_id: '',
  index: '',
  type: '',
  title: '',
  ingredients: '',
  photo: '',
  primary_desc: '',
  secondary_desc: '',
  target_temp: '',
  timer1_duration: '',
  probe_a_temp: '',
  is_manual_proceed: '',
  buffer_time: '',
  video: ''
}

export default {
  name: 'RecipeStep',
  components: {
    TimeInput,
    Upload
  },
  props: {
    id: {
      type: [String, Number],
      default: ''
    }
  },
  data() {
    return {
      defaultColumns,
      postForm: Object.assign({}, defaultPostForm),
      rules: {},
      dialogStatus: '',
      dialogFormVisible: false,
      stepList: null,
      oldList: [],
      newList: [],
      listLoading: false,
      columnIndex: ''
    }
  },
  computed: {
  },
  created() {
    if (this.id) {
      this.initData(this.id)
    }
  },
  methods: {
    async initData(id) {
      this.stepList = await getRecipeStep(id)
      console.log(this.stepList)
    },
    handleCreate() {
      this.dialogStatus = 'Create'
      this.dialogFormVisible = true
    },
    async addStep() {
      const params = {
        index: parseInt(this.postForm.index),
        title: this.postForm.title,
        type: parseInt(this.postForm.type),
        ingredients: this.postForm.ingredients,
        primary_desc: this.postForm.primary_desc,
        secondary_desc: this.postForm.secondary_desc,
        target_temp: parseInt(this.postForm.target_temp),
        timer1_duration: parseInt(this.postForm.timer1_duration),
        probe_a_temp: parseInt(this.postForm.probe_a_temp),
        is_manual_proceed: this.postForm.is_manual_proceed === 't' ? true : false,
        buffer_time: parseInt(this.postForm.buffer_time),
        photo: this.postForm.photo,
        video: this.postForm.video
      }
      const { step_id: addStepId } = await addStep(this.id, params)
      this.dialogFormVisible = false
      this.postForm.step_id = addStepId
      this.stepList.push(Object.assign({}, this.postForm))
      this.$notify({
        title: '成功',
        message: '新增成功',
        type: 'success',
        duration: 2000
      })
      this.resetPostForm()
    },
    handleUpdate(row, index) {
      this.postForm = Object.assign({}, row)
      this.dialogStatus = 'Update'
      this.dialogFormVisible = true
      this.columnIndex = index
    },
    async updateStep() {
      const params = {
        index: this.postForm.index,
        title: this.postForm.title,
        primary_desc: this.postForm.primary_desc,
        secondary_desc: this.postForm.secondary_desc,
        photo: this.postForm.photo,
        video: this.postForm.video
      }
      const res = await setStep(this.id, params)
      if (res) this.dialogFormVisible = false
      this.stepList.splice(this.columnIndex, 1, this.postForm)
      this.resetPostForm()
    },
    async delStep({ step_id }, index) {
      const res = await delStep(step_id)
      if (res) {
        this.stepList.splice(index, 1)
      }
      this.$notify({
        title: '成功',
        message: '删除成功',
        type: 'success',
        duration: 2000
      })
    },
    resetPostForm() {
      this.dialogFormVisible = false
      this.postForm = Object.assign({}, defaultPostForm)
    }
  }
}
</script>

<style lang="scss" scoped>
.title{
  margin-bottom: 20px;
  font-size: 30px;
  font-weight:  800;
  margin-top: 40px;
}
.tools {
  margin-bottom: 20px;
}
</style>
