
<template>
  <div class="recipe-detail app-container">
    <el-form ref="postForm" :model="postForm" :rules="rules" label-width="auto" label-position="top" class="form-container">
      <el-form-item class="form-item" prop="name">
        <MDinput v-model="postForm.name" :maxlength="100" name="name" required>Name</MDinput>
      </el-form-item>

      <!-- cover -->
      <el-row type="flex" justify="space-between">
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo1" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo2" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item prop="image_uri" style="margin-bottom: 30px;">
            <Upload v-model="postForm.photo3" />
          </el-form-item>
        </el-col>
      </el-row>

      <!-- time -->
      <el-row type="flex" justify="space-between" style="margin-top:-18px">
        <el-col :span="6" class="postInfo-container-item">
          <el-form-item class="form-item" label="Prep Time:">
            <time-input v-model="postForm.prep_time" />
          </el-form-item>
        </el-col>
        <el-col :span="6" class="postInfo-container-item">
          <el-form-item class="form-item" label="Cook Time:">
            <time-input v-model="postForm.cook_time" />
          </el-form-item>
        </el-col>
        <el-col :span="6" class="postInfo-container-item">
          <el-form-item class="form-item" label="Rest Time:">
            <time-input v-model="postForm.rest_time" />
          </el-form-item>
        </el-col>
      </el-row>

      <el-row type="flex" justify="space-between">
        <el-col :span="4">
          <el-form-item class="form-item" label="Author Name:">
            <el-input v-model="postForm.author_name" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item class="form-item" label="Category:">
            <el-input v-model="postForm.category" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item class="form-item" label="Meal Type:">
            <el-input v-model="postForm.meal_type" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>

        <el-col :span="4" class="postInfo-container-item">
          <el-form-item class="form-item" label="Pellet Flavor:">
            <el-input v-model="postForm.pellet_flavor" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="4">
          <el-form-item class="form-item" label="Difficulty:">
            <el-input v-model="postForm.difficulty" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
      </el-row>

      <!-- <el-row type="flex" justify="space-between">
        <el-col :span="6" class="postInfo-container-item">
          <el-form-item class="form-item" label="Pellet Flavor:">
            <el-input v-model="postForm.pellet_flavor" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item class="form-item" label="Difficulty:">
            <el-input v-model="postForm.difficulty" :rows="1" placeholder="Please enter the content" />
          </el-form-item>
        </el-col>
        <el-col :span="6">
          <el-form-item v-if="isEdit" class="form-item" label="Relation:">
            <el-button type="success" @click="jumpTo('/recipe/relation/')">Relation</el-button>
          </el-form-item>
        </el-col>
      </el-row> -->

      <el-form-item class="form-item" prop="Description" label="Description:">
        <el-input
          v-model="postForm.description"
          type="textarea"
          resize="none"
          :autosize="{ minRows: 8, maxRows: 8 }"
          placeholder="Please enter the content"
        />
      </el-form-item>

      <el-button type="primary" @click="submitForm">
        Submit
      </el-button>
    </el-form>

      <div v-if="isEdit">
        <RecipeStep :id="id" class="item"/>
        <RecipeServing :id="id" class="item"/>
      </div>
  </div>
</template>

<script>
import { getRecipeDetail, addRecipe, setRecipe } from '@/api/recipe'
import MDinput from '@/components/MDinput'
import Upload from '@/components/Upload/SingleImage'
import TimeInput from '@/components/timeInput'
import RecipeStep from './RecipeStep'
import RecipeServing from './RecipeServing'

const defaultForm = {
  name: '',
  photo1: '',
  photo2: '',
  photo3: '',
  cook_time: '',
  prep_time: '',
  rest_time: '',
  author_name: '',
  category: '',
  meal_type: '',
  description: '',
  pellet_flavor: '',
  difficulty: '',
}

export default {
  name: 'RecipeDetail',
  components: {
    MDinput,
    Upload,
    TimeInput,
    RecipeStep,
    RecipeServing
  },
  props: {
    isEdit: {
      type: Boolean,
      default: false
    }
  },
  data() {
    const validateRequire = (rule, value, callback) => {
      if (value === '') {
        this.$message({
          message: rule.field + " " + "is required",
          type: 'error'
        })
        callback(new Error(rule.field + " " + "is required"))
      } else {
        callback()
      }
    }
    return {
      time: 7200000,
      postForm: Object.assign({}, defaultForm),
      rules: {
        name: [{ validator: validateRequire }],
        // difficulty: [{ validator: validateRequire }],
      },
      id: '',
      loading: true
    }
  },
  created() {
    if (this.isEdit) {
      const id = this.$route.params && this.$route.params.id
      this.id = Number(id)
      this.initData(id)
    }
  },
  methods: {
    async initData(id) {
      const response = await getRecipeDetail(id)
      this.postForm = this.parseResponse(response)
    },
    parseResponse(respone) {
      const tempObj = {}
      for (const key in this.postForm) {
        if (respone[key]) {
          tempObj[key] = respone[key]
        } else {
          tempObj[key] = ''
        }
        if (key === 'name') {
          tempObj[key] = respone.recipe_name
        }
      }
      return tempObj
    },
    async submitForm() {
      let stop = false
      try {
        // Object.keys(this.postForm).forEach(item => {
        //   if(!this.postForm[item]) {
        //     this.$message({
        //       message: item+ " " + "is required",
        //       type: 'error'
        //     })
        //     stop = true
        //     throw new Error('error')
        //   }
        // })
      } catch(e) {
        if(e.message == 'error') throw e
      }
      if (stop) return
      if (this.isEdit) {
        await setRecipe(this.id, this.postForm)
      } else {
        await addRecipe(this.postForm)
      }
      this.$notify({
        title: '成功',
        message: '发布成功',
        type: 'success',
        duration: 2000
      })
      this.$router.back()
    },
    jumpTo(prefix) {
      this.$router.push({ path: prefix + this.id })
    }
  }
}
</script>

<style lang="scss" scoped>
.form-item {
  margin-bottom: 20px;
}

</style>
