
<template>
  <order-detail :is-edit="true" />
</template>

<script>
import OrderDetail from './components/OrderDetial'
export default {
  name: 'OrderEdit',
  components: {
    OrderDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
