
<template>
  <div class="app-container">
    <el-table v-loading="listLoading" :data="orderList" border fit highlight-current-row style="width: 100%">
      <el-table-column width="120px" align="center" label="order_id">
        <template slot-scope="scope">
          <span>{{ scope.row.order_id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="actual_total" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.actual_total }}</span>
        </template>
      </el-table-column>

      <el-table-column width="160px" align="center" label="address">
        <template slot-scope="scope">
          <span>{{ scope.row.address }}</span>
        </template>
      </el-table-column>

      <el-table-column width="160px" align="center" label="estimated_shipping">
        <template slot-scope="scope">
          <span>{{ scope.row.estimated_shipping }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="140px" label="estimated_total">
        <template slot-scope="scope">
            <span>{{ scope.row.estimated_total }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="160px" label="actual_shipping">
        <template slot-scope="scope">
            <span>{{ scope.row.actual_shipping }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="180px" label="payment">
        <template slot-scope="scope">
            <span>{{ scope.row.payment }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="80px" label="status">
        <template slot-scope="scope">
            <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="100px" label="subtotal">
        <template slot-scope="scope">
            <span>{{ scope.row.subtotal }}</span>
        </template>
      </el-table-column>

      <el-table-column min-width="80px" label="tax">
        <template slot-scope="scope">
            <span>{{ scope.row.tax }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="120" class-name="fixed-width">
        <template slot-scope="{row}">
          <router-link :to="'/order/edit/'+row.order_id">
            <el-button type="primary" size="small">
              Edit
            </el-button>
          </router-link>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script>
import { getOrderList,delOrder } from '@/api/order'
export default {
  name: 'OrderList',
  data() {
    return {
      orderList: null,
      total: 0,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const recipeResponse = await getOrderList()
      this.orderList = recipeResponse
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-button {
  margin-left: 10px;
}
</style>
