<template>
  <device-detail />
</template>

<script>
import DeviceDetail from './components/DeviceDetail'

export default {
  name: 'DeviceCreate',
  components: {
    DeviceDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
