
<template>
  <div class="app-container">
    <router-link :to="'/device/create/'">
      <el-button type="primary" size="small" style="margin-bottom:20px">
        Create
      </el-button>
    </router-link> 

    <el-table v-loading="listLoading" :data="deviceList" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="device_id" width="140">
        <template slot-scope="scope">
          <span>{{ scope.row.device_id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="device_name" width="130">
        <template slot-scope="scope">
          <span>{{ scope.row.device_name }}</span>
        </template>
      </el-table-column>

      <el-table-column width="160px" align="center" label="picture">
        <template slot-scope="scope">
          <el-image :src="scope.row.picture" />
        </template>
      </el-table-column>

      <el-table-column align="center" label="firmware" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.firmware }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="is_displaywidget" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.is_displaywidget }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="is_notification" width="140">
        <template slot-scope="scope">
          <span>{{ scope.row.is_notification }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="model" width="120">
        <template slot-scope="scope">
          <span>{{ scope.row.model }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="status" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.status }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="temperature_unit" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.temperature_unit }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="weight_scale" width="140">
        <template slot-scope="scope">
          <span>{{ scope.row.weight_scale }}</span>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script>
import { getAllGrill } from '@/api/device'
export default {
  name: 'device',
  data() {
    return {
      deviceList: null,
      listLoading: false,
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const deviceResponse = await getAllGrill()
      this.deviceList = deviceResponse
    },
  }
}
</script>

<style lang="scss" scoped>

</style>
