
<template>
  <div class="app-container">
    <el-table v-loading="listLoading" :data="userList" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="address" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.address }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="city" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.city }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="country" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.country }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="email" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.email }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="first_name" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.first_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="id" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="is_admin" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.is_admin }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="last_name" width="100">
        <template slot-scope="scope">
          <span>{{ scope.row.last_name }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="phone_number" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.phone_number }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="state" width="80">
        <template slot-scope="scope">
          <span>{{ scope.row.state }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="username" width="180">
        <template slot-scope="scope">
          <span>{{ scope.row.username }}</span>
        </template>
      </el-table-column>

      <el-table-column align="center" label="zip_code" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.zip_code }}</span>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import { getAllUser } from '@/api/user'
export default {
  name: 'User',
  data() {
    return {
      userList: null,
      listLoading: false
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const recipeResponse = await getAllUser()
      this.userList = recipeResponse
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
