<template>
  <model-detail />
</template>

<script>
import ModelDetail from './components/ModelDetail'

export default {
  name: 'ModelCreate',
  components: {
    ModelDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
