
<template>
  <model-detail :is-edit="true" />
</template>

<script>
import modelDetail from './components/ModelDetail'

export default {
  name: 'ModelEdit',
  components: {
    modelDetail
  }
}
</script>

<style lang="scss" scoped>

</style>
