<template>
  <div class="app-container">
    <router-link :to="'/model/create/'">
      <el-button type="primary" size="small" style="margin-bottom:20px">
        Create
      </el-button>
    </router-link> 
    <el-table v-loading="listLoading" :data="modelList" border fit highlight-current-row style="width: 100%">
      <el-table-column align="center" label="ID" width="150">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>

      <el-table-column width="240px" align="center" label="Create At">
        <template slot-scope="scope">
          <span>{{ scope.row.create_at }}</span>
        </template>
      </el-table-column>

      <el-table-column width="160px" align="center" label="Picture">
        <template slot-scope="scope">
          <el-image :src="scope.row.picture" />
        </template>
      </el-table-column>

      <el-table-column min-width="280px" label="Name">
        <template slot-scope="{row}">
          <router-link :to="'/model/edit/'+row.id" class="link-type">
            <span>{{ row.name }}</span>
          </router-link>
        </template>
      </el-table-column>

      <el-table-column align="center" label="Actions" width="250" class-name="fixed-width">
        <template slot-scope="{row,$index}">
          <router-link :to="'/model/edit/'+row.id">
            <el-button type="primary" size="small">
              Edit
            </el-button>
          </router-link>
          <el-button class="delete-button" type="danger" size="small" @click="removeModel(row.id,$index)">
            Delete
          </el-button>
        </template>
      </el-table-column>

    </el-table>
  </div>
</template>

<script>
import { getModelList,delModel } from '@/api/model'

export default {
  name: 'ModelList',
  data() {
    return {
      modelList: null,
      total: 0,
      listLoading: false,
      listQuery: {
        page: 1,
        limit: 20
      }
    }
  },
  created() {
    this.initData()
  },
  methods: {
    async initData() {
      const modelResponse = await getModelList()
      this.modelList = this.parseResponse(modelResponse)
    },
    parseResponse(modelResponse) {
      return modelResponse.map((model) => {
        return {
          name: model.name,
          picture: model.picture,
          id: model.id,
          create_at: model.create_at,
        }
      })
    },
    async removeModel(id, index) {
      await delModel(id)
      this.modelList.splice(index, 1)
      this.$notify({
        title: '成功',
        message: '删除成功',
        type: 'success',
        duration: 2000
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.delete-button {
  margin-left: 10px;
}
</style>
